OrientaçãoSLN/.vs/OrientaçãoSLN/DesignTimeBuild/.dtbcache.v2
OrientaçãoSLN/.vs/OrientaçãoSLN/FileContentIndex/008f5e2f-9536-4f2a-917d-91583ec94b76.vsidx
OrientaçãoSLN/.vs/OrientaçãoSLN/FileContentIndex/62b38313-e174-401e-96c7-1a7239c1cdd4.vsidx
